<div class="wrapper">

<h2>New Releases</h2>

  <section class="main">

  <div class="multiple-items">

  <% @new_releases.each do |new| %>
  <%= link_to album_path(new.id) do %>
  <div class="album" href=>
    <img class="album-img" src="<%= new.images[1]["url"] %>" alt="">
      <%= new.artists.first.name%>
  </div>

  <% end %>
  <% end %>

  </div>
</section>

<section class="row">
<div class="posts-section">
  <h2>Recent Posts</h2>
  <div id="container">
  	<div class="m0"><img src="http://via.placeholder.com/220x150"></div>
  	<div><img src="http://via.placeholder.com/220x150"></div>
  	<div><img src="http://via.placeholder.com/220x150"></div>
  	<div class="clear m0"><img src="http://via.placeholder.com/220x150"></div>
    <div><img src="http://via.placeholder.com/220x150"></div>
    <div><img src="http://via.placeholder.com/220x150"></div>
  </div>

</div>

<div class="chart">
  <h2>Chart</h2>
  <div class="chart-wrapper">
    <div class="list-wrap">
      <ul>

											<li class="rank_item active">



											</li>

											<li class="rank_item odd">

											</li>

											<li class="rank_item">


											</li>

											<li class="rank_item odd">


											</li>

											<li class="rank_item">
												<div class="rank_number nth5">
													<span class="rank">5</span><span class="none">위</span>




												</div>

											</li>

											<li class="rank_item odd">
												<div class="rank_number nth6">
													<span class="rank">6</span><span class="none">위</span>



															<span class="ranking_num static"><span class="num">0</span><span class="icon">순위 동일</span></span>




												</div>

											</li>

											<li class="rank_item">
												<div class="rank_number nth7">
													<span class="rank">7</span><span class="none">위</span>





															<span class="ranking_num up"><span class="num">2</span><span class="icon">단계 상승</span></span>


												</div>

											</li>

											<li class="rank_item odd">
												<div class="rank_number nth8">




												</div>

											</li>

											<li class="rank_item">
												<div class="rank_number nth9">
													<span class="rank">9</span><span class="none">위</span>





															<span class="ranking_num up"><span class="num">2</span><span class="icon">단계 상승</span></span>


												</div>

											</li>

											<li class="rank_item odd">
												<div class="rank_number nth10">
													<span class="rank">10</span><span class="none">위</span>




															<span class="ranking_num down"><span class="num">2</span><span class="icon">단계 하락</span></span>



												</div>
												
											</li>


											</ul>
    </div>
  </div>

</div>
</section>

<section class="row">

</section>



</div>
