<div class="wrapper">

<h2>New Releases</h2>

  <section class="main">

  <div class="multiple-items">

  <% @new_releases.each do |new| %>
  <%= link_to album_path(new.id) do %>
  <div class="album" href=>
    <img class="album-img" src="<%= new.images[1]["url"] %>" alt="">
      <%= new.artists.first.name%>
  </div>

  <% end %>
  <% end %>

  </div>
</section>

<section class="posts-section">
  <h2>Recent Posts</h2>
  <ul class="sub-list">
    <li class="issue-list">
      <dl class="m0">
        <dd><a href="https://placeholder.com"><img src="http://via.placeholder.com/220x150"></a></dd>
        <dt></dt>

      </dl>
      <dl class="m">
        <dd><a href="https://placeholder.com"><img src="http://via.placeholder.com/220x150"></a></dd>
        <dt></dt>

      </dl>
      <dl class="m">
        <dd><a href="https://placeholder.com"><img src="http://via.placeholder.com/220x150"></a></dd>
        <dt></dt>

      </dl>
      <dl class="m0 clear">
        <dd><a href="https://placeholder.com"><img src="http://via.placeholder.com/220x150"></a></dd>
        <dt></dt>

      </dl>
      <dl class="m">
        <dd><a href="https://placeholder.com"><img src="http://via.placeholder.com/220x150"></a></dd>
        <dt></dt>

      </dl>
      <dl class="m">
        <dd><a href="https://placeholder.com"><img src="http://via.placeholder.com/220x150"></a></dd>
        <dt></dt>

      </dl>
    </li>

  </ul>

</section>

<section class="chart">
  <h2>Chart</h2>
  <div class="chart-wrapper">
    <div class="list-wrap">
      <ul>

											<li class="rank_item active">
												<div class="rank_number nth1">
													<span class="rank">1</span><span class="none">위</span>



															<span class="ranking_num static"><span class="num">0</span><span class="icon">순위 동일</span></span>




												</div>
												<div class="rank_cntt">
													<div class="thumb">

														<a href="javascript:melon.link.goAlbumDetail('10179508');" title="Take" class="mlog" data="LOG_PRT_CODE=1&amp;MENU_PRT_CODE=2&amp;MENU_ID_LV1=10010101&amp;CLICK_AREA_PRT_CODE=R02&amp;ACTION_AF_CLICK=V1&amp;CLICK_CONTS_TYPE_CODE=N10002&amp;CLICK_CONTS_ID=10179508">
															<img onerror="WEBPOCIMG.defaultAlbumImg(this);" width="48" height="48" src="https://cdnimg.melon.co.kr/cm/album/images/101/79/508/10179508_500.jpg/melon/quality/80/resize/48/optimize" alt="">
															<span class="bg_album_frame"></span>
														</a>
													</div>
													<div class="rank_info">
														<p class="song" data-song-no="31151836">


															<a href="javascript:melon.play.playSong('10010101',31151836);" class="ellipsis mlog" title="Way Back Home" data="LOG_PRT_CODE=1&amp;MENU_PRT_CODE=2&amp;MENU_ID_LV1=10010101&amp;CLICK_AREA_PRT_CODE=R02&amp;ACTION_AF_CLICK=P1&amp;CLICK_CONTS_TYPE_CODE=N10001&amp;CLICK_CONTS_ID=31151836">Way Back Home</a>
														</p>
														<div class="artist">
															<div class="ellipsis"><a href="javascript:melon.link.goArtistDetail('510242');" title="숀 (SHAUN) - 페이지 이동" class="fc_mgray mlog" data="LOG_PRT_CODE=1&amp;MENU_PRT_CODE=2&amp;MENU_ID_LV1=10010101&amp;CLICK_AREA_PRT_CODE=R02&amp;ACTION_AF_CLICK=V1&amp;CLICK_CONTS_TYPE_CODE=N10006&amp;CLICK_CONTS_ID=510242">숀 (SHAUN)</a><span class="checkEllipsisRealtimeChart" style="display: none;"><a href="javascript:melon.link.goArtistDetail('510242');" title="숀 (SHAUN) - 페이지 이동" class="fc_mgray mlog" data="LOG_PRT_CODE=1&amp;MENU_PRT_CODE=2&amp;MENU_ID_LV1=10010101&amp;CLICK_AREA_PRT_CODE=R02&amp;ACTION_AF_CLICK=V1&amp;CLICK_CONTS_TYPE_CODE=N10006&amp;CLICK_CONTS_ID=510242">숀 (SHAUN)</a></span></div>

														</div>
													</div>
												</div>
											</li>

											<li class="rank_item odd">
												<div class="rank_number nth2">
													<span class="rank">2</span><span class="none">위</span>



															<span class="ranking_num static"><span class="num">0</span><span class="icon">순위 동일</span></span>




												</div>
												<div class="rank_cntt">
													<div class="thumb">

														<a href="javascript:melon.link.goAlbumDetail('10183127');" title="Summer Nights" class="mlog" data="LOG_PRT_CODE=1&amp;MENU_PRT_CODE=2&amp;MENU_ID_LV1=10010101&amp;CLICK_AREA_PRT_CODE=R02&amp;ACTION_AF_CLICK=V1&amp;CLICK_CONTS_TYPE_CODE=N10002&amp;CLICK_CONTS_ID=10183127">
															<img onerror="WEBPOCIMG.defaultAlbumImg(this);" width="48" height="48" src="https://cdnimg.melon.co.kr/cm/album/images/101/83/127/10183127_500.jpg/melon/quality/80/resize/48/optimize" alt="">
															<span class="bg_album_frame"></span>
														</a>
													</div>
													<div class="rank_info">
														<p class="song" data-song-no="31175119">


															<a href="javascript:melon.play.playSong('10010101',31175119);" class="ellipsis mlog" title="Dance The Night Away" data="LOG_PRT_CODE=1&amp;MENU_PRT_CODE=2&amp;MENU_ID_LV1=10010101&amp;CLICK_AREA_PRT_CODE=R02&amp;ACTION_AF_CLICK=P1&amp;CLICK_CONTS_TYPE_CODE=N10001&amp;CLICK_CONTS_ID=31175119">Dance The Night Away</a>
														</p>
														<div class="artist">
															<div class="ellipsis"><a href="javascript:melon.link.goArtistDetail('905701');" title="TWICE (트와이스) - 페이지 이동" class="fc_mgray mlog" data="LOG_PRT_CODE=1&amp;MENU_PRT_CODE=2&amp;MENU_ID_LV1=10010101&amp;CLICK_AREA_PRT_CODE=R02&amp;ACTION_AF_CLICK=V1&amp;CLICK_CONTS_TYPE_CODE=N10006&amp;CLICK_CONTS_ID=905701">TWICE (트와이스)</a><span class="checkEllipsisRealtimeChart" style="display: none;"><a href="javascript:melon.link.goArtistDetail('905701');" title="TWICE (트와이스) - 페이지 이동" class="fc_mgray mlog" data="LOG_PRT_CODE=1&amp;MENU_PRT_CODE=2&amp;MENU_ID_LV1=10010101&amp;CLICK_AREA_PRT_CODE=R02&amp;ACTION_AF_CLICK=V1&amp;CLICK_CONTS_TYPE_CODE=N10006&amp;CLICK_CONTS_ID=905701">TWICE (트와이스)</a></span></div>

														</div>
													</div>
												</div>
											</li>

											<li class="rank_item">
												<div class="rank_number nth3">
													<span class="rank">3</span><span class="none">위</span>



															<span class="ranking_num static"><span class="num">0</span><span class="icon">순위 동일</span></span>




												</div>
												<div class="rank_cntt">
													<div class="thumb">

														<a href="javascript:melon.link.goAlbumDetail('10176415');" title="SQUARE UP" class="mlog" data="LOG_PRT_CODE=1&amp;MENU_PRT_CODE=2&amp;MENU_ID_LV1=10010101&amp;CLICK_AREA_PRT_CODE=R02&amp;ACTION_AF_CLICK=V1&amp;CLICK_CONTS_TYPE_CODE=N10002&amp;CLICK_CONTS_ID=10176415">
															<img onerror="WEBPOCIMG.defaultAlbumImg(this);" width="48" height="48" src="https://cdnimg.melon.co.kr/cm/album/images/101/76/415/10176415_500.jpg/melon/quality/80/resize/48/optimize" alt="">
															<span class="bg_album_frame"></span>
														</a>
													</div>
													<div class="rank_info">
														<p class="song" data-song-no="31131273">


															<a href="javascript:melon.play.playSong('10010101',31131273);" class="ellipsis mlog" title="뚜두뚜두 (DDU-DU DDU-DU)" data="LOG_PRT_CODE=1&amp;MENU_PRT_CODE=2&amp;MENU_ID_LV1=10010101&amp;CLICK_AREA_PRT_CODE=R02&amp;ACTION_AF_CLICK=P1&amp;CLICK_CONTS_TYPE_CODE=N10001&amp;CLICK_CONTS_ID=31131273">뚜두뚜두 (DDU-DU DDU-DU)</a>
														</p>
														<div class="artist">
															<div class="ellipsis"><a href="javascript:melon.link.goArtistDetail('995169');" title="BLACKPINK - 페이지 이동" class="fc_mgray mlog" data="LOG_PRT_CODE=1&amp;MENU_PRT_CODE=2&amp;MENU_ID_LV1=10010101&amp;CLICK_AREA_PRT_CODE=R02&amp;ACTION_AF_CLICK=V1&amp;CLICK_CONTS_TYPE_CODE=N10006&amp;CLICK_CONTS_ID=995169">BLACKPINK</a><span class="checkEllipsisRealtimeChart" style="display: none;"><a href="javascript:melon.link.goArtistDetail('995169');" title="BLACKPINK - 페이지 이동" class="fc_mgray mlog" data="LOG_PRT_CODE=1&amp;MENU_PRT_CODE=2&amp;MENU_ID_LV1=10010101&amp;CLICK_AREA_PRT_CODE=R02&amp;ACTION_AF_CLICK=V1&amp;CLICK_CONTS_TYPE_CODE=N10006&amp;CLICK_CONTS_ID=995169">BLACKPINK</a></span></div>

														</div>
													</div>
												</div>
											</li>

											<li class="rank_item odd">
												<div class="rank_number nth4">
													<span class="rank">4</span><span class="none">위</span>



															<span class="ranking_num static"><span class="num">0</span><span class="icon">순위 동일</span></span>




												</div>
												<div class="rank_cntt">
													<div class="thumb">

														<a href="javascript:melon.link.goAlbumDetail('10185416');" title="RED MOON" class="mlog" data="LOG_PRT_CODE=1&amp;MENU_PRT_CODE=2&amp;MENU_ID_LV1=10010101&amp;CLICK_AREA_PRT_CODE=R02&amp;ACTION_AF_CLICK=V1&amp;CLICK_CONTS_TYPE_CODE=N10002&amp;CLICK_CONTS_ID=10185416">
															<img onerror="WEBPOCIMG.defaultAlbumImg(this);" width="48" height="48" src="https://cdnimg.melon.co.kr/cm/album/images/101/85/416/10185416_500.jpg/melon/quality/80/resize/48/optimize" alt="">
															<span class="bg_album_frame"></span>
														</a>
													</div>
													<div class="rank_info">
														<p class="song" data-song-no="31189241">


															<a href="javascript:melon.play.playSong('10010101',31189241);" class="ellipsis mlog" title="너나 해 (Egotistic)" data="LOG_PRT_CODE=1&amp;MENU_PRT_CODE=2&amp;MENU_ID_LV1=10010101&amp;CLICK_AREA_PRT_CODE=R02&amp;ACTION_AF_CLICK=P1&amp;CLICK_CONTS_TYPE_CODE=N10001&amp;CLICK_CONTS_ID=31189241">너나 해 (Egotistic)</a>
														</p>
														<div class="artist">
															<div class="ellipsis"><a href="javascript:melon.link.goArtistDetail('750053');" title="마마무(Mamamoo) - 페이지 이동" class="fc_mgray mlog" data="LOG_PRT_CODE=1&amp;MENU_PRT_CODE=2&amp;MENU_ID_LV1=10010101&amp;CLICK_AREA_PRT_CODE=R02&amp;ACTION_AF_CLICK=V1&amp;CLICK_CONTS_TYPE_CODE=N10006&amp;CLICK_CONTS_ID=750053">마마무(Mamamoo)</a><span class="checkEllipsisRealtimeChart" style="display: none;"><a href="javascript:melon.link.goArtistDetail('750053');" title="마마무(Mamamoo) - 페이지 이동" class="fc_mgray mlog" data="LOG_PRT_CODE=1&amp;MENU_PRT_CODE=2&amp;MENU_ID_LV1=10010101&amp;CLICK_AREA_PRT_CODE=R02&amp;ACTION_AF_CLICK=V1&amp;CLICK_CONTS_TYPE_CODE=N10006&amp;CLICK_CONTS_ID=750053">마마무(Mamamoo)</a></span></div>

														</div>
													</div>
												</div>
											</li>

											<li class="rank_item">
												<div class="rank_number nth5">
													<span class="rank">5</span><span class="none">위</span>



															<span class="ranking_num static"><span class="num">0</span><span class="icon">순위 동일</span></span>




												</div>
												<div class="rank_cntt">
													<div class="thumb">

														<a href="javascript:melon.link.goAlbumDetail('10181013');" title="ONE &amp; SIX" class="mlog" data="LOG_PRT_CODE=1&amp;MENU_PRT_CODE=2&amp;MENU_ID_LV1=10010101&amp;CLICK_AREA_PRT_CODE=R02&amp;ACTION_AF_CLICK=V1&amp;CLICK_CONTS_TYPE_CODE=N10002&amp;CLICK_CONTS_ID=10181013">
															<img onerror="WEBPOCIMG.defaultAlbumImg(this);" width="48" height="48" src="https://cdnimg.melon.co.kr/cm/album/images/101/81/013/10181013_500.jpg/melon/quality/80/resize/48/optimize" alt="">
															<span class="bg_album_frame"></span>
														</a>
													</div>
													<div class="rank_info">
														<p class="song" data-song-no="31161280">


															<a href="javascript:melon.play.playSong('10010101',31161280);" class="ellipsis mlog" title="1도 없어" data="LOG_PRT_CODE=1&amp;MENU_PRT_CODE=2&amp;MENU_ID_LV1=10010101&amp;CLICK_AREA_PRT_CODE=R02&amp;ACTION_AF_CLICK=P1&amp;CLICK_CONTS_TYPE_CODE=N10001&amp;CLICK_CONTS_ID=31161280">1도 없어</a>
														</p>
														<div class="artist">
															<div class="ellipsis"><a href="javascript:melon.link.goArtistDetail('534360');" title="Apink (에이핑크) - 페이지 이동" class="fc_mgray mlog" data="LOG_PRT_CODE=1&amp;MENU_PRT_CODE=2&amp;MENU_ID_LV1=10010101&amp;CLICK_AREA_PRT_CODE=R02&amp;ACTION_AF_CLICK=V1&amp;CLICK_CONTS_TYPE_CODE=N10006&amp;CLICK_CONTS_ID=534360">Apink (에이핑크)</a><span class="checkEllipsisRealtimeChart" style="display: none;"><a href="javascript:melon.link.goArtistDetail('534360');" title="Apink (에이핑크) - 페이지 이동" class="fc_mgray mlog" data="LOG_PRT_CODE=1&amp;MENU_PRT_CODE=2&amp;MENU_ID_LV1=10010101&amp;CLICK_AREA_PRT_CODE=R02&amp;ACTION_AF_CLICK=V1&amp;CLICK_CONTS_TYPE_CODE=N10006&amp;CLICK_CONTS_ID=534360">Apink (에이핑크)</a></span></div>

														</div>
													</div>
												</div>
											</li>

											<li class="rank_item odd">
												<div class="rank_number nth6">
													<span class="rank">6</span><span class="none">위</span>



															<span class="ranking_num static"><span class="num">0</span><span class="icon">순위 동일</span></span>




												</div>
												<div class="rank_cntt">
													<div class="thumb">

														<a href="javascript:melon.link.goAlbumDetail('10149492');" title="`키스 먼저 할까요?` OST Part.3" class="mlog" data="LOG_PRT_CODE=1&amp;MENU_PRT_CODE=2&amp;MENU_ID_LV1=10010101&amp;CLICK_AREA_PRT_CODE=R02&amp;ACTION_AF_CLICK=V1&amp;CLICK_CONTS_TYPE_CODE=N10002&amp;CLICK_CONTS_ID=10149492">
															<img onerror="WEBPOCIMG.defaultAlbumImg(this);" width="48" height="48" src="https://cdnimg.melon.co.kr/cm/album/images/101/49/492/10149492_500.jpg/melon/quality/80/resize/48/optimize" alt="">
															<span class="bg_album_frame"></span>
														</a>
													</div>
													<div class="rank_info">
														<p class="song" data-song-no="30962526">


															<a href="javascript:melon.play.playSong('10010101',30962526);" class="ellipsis mlog" title="모든 날, 모든 순간 (Every day, Every Moment)" data="LOG_PRT_CODE=1&amp;MENU_PRT_CODE=2&amp;MENU_ID_LV1=10010101&amp;CLICK_AREA_PRT_CODE=R02&amp;ACTION_AF_CLICK=P1&amp;CLICK_CONTS_TYPE_CODE=N10001&amp;CLICK_CONTS_ID=30962526">모든 날, 모든 순간 (Every day, Every Moment)</a>
														</p>
														<div class="artist">
															<div class="ellipsis"><a href="javascript:melon.link.goArtistDetail('752425');" title="폴킴 - 페이지 이동" class="fc_mgray mlog" data="LOG_PRT_CODE=1&amp;MENU_PRT_CODE=2&amp;MENU_ID_LV1=10010101&amp;CLICK_AREA_PRT_CODE=R02&amp;ACTION_AF_CLICK=V1&amp;CLICK_CONTS_TYPE_CODE=N10006&amp;CLICK_CONTS_ID=752425">폴킴</a><span class="checkEllipsisRealtimeChart" style="display: none;"><a href="javascript:melon.link.goArtistDetail('752425');" title="폴킴 - 페이지 이동" class="fc_mgray mlog" data="LOG_PRT_CODE=1&amp;MENU_PRT_CODE=2&amp;MENU_ID_LV1=10010101&amp;CLICK_AREA_PRT_CODE=R02&amp;ACTION_AF_CLICK=V1&amp;CLICK_CONTS_TYPE_CODE=N10006&amp;CLICK_CONTS_ID=752425">폴킴</a></span></div>

														</div>
													</div>
												</div>
											</li>

											<li class="rank_item">
												<div class="rank_number nth7">
													<span class="rank">7</span><span class="none">위</span>





															<span class="ranking_num up"><span class="num">2</span><span class="icon">단계 상승</span></span>


												</div>
												<div class="rank_cntt">
													<div class="thumb">

														<a href="javascript:melon.link.goAlbumDetail('10168559');" title="LOVE YOURSELF 轉 `Tear`" class="mlog" data="LOG_PRT_CODE=1&amp;MENU_PRT_CODE=2&amp;MENU_ID_LV1=10010101&amp;CLICK_AREA_PRT_CODE=R02&amp;ACTION_AF_CLICK=V1&amp;CLICK_CONTS_TYPE_CODE=N10002&amp;CLICK_CONTS_ID=10168559">
															<img onerror="WEBPOCIMG.defaultAlbumImg(this);" width="48" height="48" src="https://cdnimg.melon.co.kr/cm/album/images/101/68/559/10168559_500.jpg/melon/quality/80/resize/48/optimize" alt="">
															<span class="bg_album_frame"></span>
														</a>
													</div>
													<div class="rank_info">
														<p class="song" data-song-no="31085237">


															<a href="javascript:melon.play.playSong('10010101',31085237);" class="ellipsis mlog" title="FAKE LOVE" data="LOG_PRT_CODE=1&amp;MENU_PRT_CODE=2&amp;MENU_ID_LV1=10010101&amp;CLICK_AREA_PRT_CODE=R02&amp;ACTION_AF_CLICK=P1&amp;CLICK_CONTS_TYPE_CODE=N10001&amp;CLICK_CONTS_ID=31085237">FAKE LOVE</a>
														</p>
														<div class="artist">
															<div class="ellipsis"><a href="javascript:melon.link.goArtistDetail('672375');" title="방탄소년단 - 페이지 이동" class="fc_mgray mlog" data="LOG_PRT_CODE=1&amp;MENU_PRT_CODE=2&amp;MENU_ID_LV1=10010101&amp;CLICK_AREA_PRT_CODE=R02&amp;ACTION_AF_CLICK=V1&amp;CLICK_CONTS_TYPE_CODE=N10006&amp;CLICK_CONTS_ID=672375">방탄소년단</a><span class="checkEllipsisRealtimeChart" style="display: none;"><a href="javascript:melon.link.goArtistDetail('672375');" title="방탄소년단 - 페이지 이동" class="fc_mgray mlog" data="LOG_PRT_CODE=1&amp;MENU_PRT_CODE=2&amp;MENU_ID_LV1=10010101&amp;CLICK_AREA_PRT_CODE=R02&amp;ACTION_AF_CLICK=V1&amp;CLICK_CONTS_TYPE_CODE=N10006&amp;CLICK_CONTS_ID=672375">방탄소년단</a></span></div>

														</div>
													</div>
												</div>
											</li>

											<li class="rank_item odd">
												<div class="rank_number nth8">
													<span class="rank">8</span><span class="none">위</span>




															<span class="ranking_num down"><span class="num">1</span><span class="icon">단계 하락</span></span>



												</div>
												<div class="rank_cntt">
													<div class="thumb">

														<a href="javascript:melon.link.goAlbumDetail('10170069');" title="Red Diary Page.2" class="mlog" data="LOG_PRT_CODE=1&amp;MENU_PRT_CODE=2&amp;MENU_ID_LV1=10010101&amp;CLICK_AREA_PRT_CODE=R02&amp;ACTION_AF_CLICK=V1&amp;CLICK_CONTS_TYPE_CODE=N10002&amp;CLICK_CONTS_ID=10170069">
															<img onerror="WEBPOCIMG.defaultAlbumImg(this);" width="48" height="48" src="https://cdnimg.melon.co.kr/cm/album/images/101/70/069/10170069_500.jpg/melon/quality/80/resize/48/optimize" alt="">
															<span class="bg_album_frame"></span>
														</a>
													</div>
													<div class="rank_info">
														<p class="song" data-song-no="31093710">


															<a href="javascript:melon.play.playSong('10010101',31093710);" class="ellipsis mlog" title="여행" data="LOG_PRT_CODE=1&amp;MENU_PRT_CODE=2&amp;MENU_ID_LV1=10010101&amp;CLICK_AREA_PRT_CODE=R02&amp;ACTION_AF_CLICK=P1&amp;CLICK_CONTS_TYPE_CODE=N10001&amp;CLICK_CONTS_ID=31093710">여행</a>
														</p>
														<div class="artist">
															<div class="ellipsis"><a href="javascript:melon.link.goArtistDetail('792022');" title="볼빨간사춘기 - 페이지 이동" class="fc_mgray mlog" data="LOG_PRT_CODE=1&amp;MENU_PRT_CODE=2&amp;MENU_ID_LV1=10010101&amp;CLICK_AREA_PRT_CODE=R02&amp;ACTION_AF_CLICK=V1&amp;CLICK_CONTS_TYPE_CODE=N10006&amp;CLICK_CONTS_ID=792022">볼빨간사춘기</a><span class="checkEllipsisRealtimeChart" style="display: none;"><a href="javascript:melon.link.goArtistDetail('792022');" title="볼빨간사춘기 - 페이지 이동" class="fc_mgray mlog" data="LOG_PRT_CODE=1&amp;MENU_PRT_CODE=2&amp;MENU_ID_LV1=10010101&amp;CLICK_AREA_PRT_CODE=R02&amp;ACTION_AF_CLICK=V1&amp;CLICK_CONTS_TYPE_CODE=N10006&amp;CLICK_CONTS_ID=792022">볼빨간사춘기</a></span></div>

														</div>
													</div>
												</div>
											</li>

											<li class="rank_item">
												<div class="rank_number nth9">
													<span class="rank">9</span><span class="none">위</span>





															<span class="ranking_num up"><span class="num">2</span><span class="icon">단계 상승</span></span>


												</div>
												<div class="rank_cntt">
													<div class="thumb">

														<a href="javascript:melon.link.goAlbumDetail('10185387');" title="SEVENTEEN 5TH MINI ALBUM `YOU MAKE MY DAY`" class="mlog" data="LOG_PRT_CODE=1&amp;MENU_PRT_CODE=2&amp;MENU_ID_LV1=10010101&amp;CLICK_AREA_PRT_CODE=R02&amp;ACTION_AF_CLICK=V1&amp;CLICK_CONTS_TYPE_CODE=N10002&amp;CLICK_CONTS_ID=10185387">
															<img onerror="WEBPOCIMG.defaultAlbumImg(this);" width="48" height="48" src="https://cdnimg.melon.co.kr/cm/album/images/101/85/387/10185387_500.jpg/melon/quality/80/resize/48/optimize" alt="">
															<span class="bg_album_frame"></span>
														</a>
													</div>
													<div class="rank_info">
														<p class="song" data-song-no="31189085">


															<a href="javascript:melon.play.playSong('10010101',31189085);" class="ellipsis mlog" title="어쩌나" data="LOG_PRT_CODE=1&amp;MENU_PRT_CODE=2&amp;MENU_ID_LV1=10010101&amp;CLICK_AREA_PRT_CODE=R02&amp;ACTION_AF_CLICK=P1&amp;CLICK_CONTS_TYPE_CODE=N10001&amp;CLICK_CONTS_ID=31189085">어쩌나</a>
														</p>
														<div class="artist">
															<div class="ellipsis"><a href="javascript:melon.link.goArtistDetail('861436');" title="세븐틴 - 페이지 이동" class="fc_mgray mlog" data="LOG_PRT_CODE=1&amp;MENU_PRT_CODE=2&amp;MENU_ID_LV1=10010101&amp;CLICK_AREA_PRT_CODE=R02&amp;ACTION_AF_CLICK=V1&amp;CLICK_CONTS_TYPE_CODE=N10006&amp;CLICK_CONTS_ID=861436">세븐틴</a><span class="checkEllipsisRealtimeChart" style="display: none;"><a href="javascript:melon.link.goArtistDetail('861436');" title="세븐틴 - 페이지 이동" class="fc_mgray mlog" data="LOG_PRT_CODE=1&amp;MENU_PRT_CODE=2&amp;MENU_ID_LV1=10010101&amp;CLICK_AREA_PRT_CODE=R02&amp;ACTION_AF_CLICK=V1&amp;CLICK_CONTS_TYPE_CODE=N10006&amp;CLICK_CONTS_ID=861436">세븐틴</a></span></div>

														</div>
													</div>
												</div>
											</li>

											<li class="rank_item odd">
												<div class="rank_number nth10">
													<span class="rank">10</span><span class="none">위</span>




															<span class="ranking_num down"><span class="num">2</span><span class="icon">단계 하락</span></span>



												</div>
												<div class="rank_cntt">
													<div class="thumb">

														<a href="javascript:melon.link.goAlbumDetail('10176415');" title="SQUARE UP" class="mlog" data="LOG_PRT_CODE=1&amp;MENU_PRT_CODE=2&amp;MENU_ID_LV1=10010101&amp;CLICK_AREA_PRT_CODE=R02&amp;ACTION_AF_CLICK=V1&amp;CLICK_CONTS_TYPE_CODE=N10002&amp;CLICK_CONTS_ID=10176415">
															<img onerror="WEBPOCIMG.defaultAlbumImg(this);" width="48" height="48" src="https://cdnimg.melon.co.kr/cm/album/images/101/76/415/10176415_500.jpg/melon/quality/80/resize/48/optimize" alt="">
															<span class="bg_album_frame"></span>
														</a>
													</div>
													<div class="rank_info">
														<p class="song" data-song-no="31131274">


															<a href="javascript:melon.play.playSong('10010101',31131274);" class="ellipsis mlog" title="Forever Young" data="LOG_PRT_CODE=1&amp;MENU_PRT_CODE=2&amp;MENU_ID_LV1=10010101&amp;CLICK_AREA_PRT_CODE=R02&amp;ACTION_AF_CLICK=P1&amp;CLICK_CONTS_TYPE_CODE=N10001&amp;CLICK_CONTS_ID=31131274">Forever Young</a>
														</p>
														<div class="artist">
															<div class="ellipsis"><a href="javascript:melon.link.goArtistDetail('995169');" title="BLACKPINK - 페이지 이동" class="fc_mgray mlog" data="LOG_PRT_CODE=1&amp;MENU_PRT_CODE=2&amp;MENU_ID_LV1=10010101&amp;CLICK_AREA_PRT_CODE=R02&amp;ACTION_AF_CLICK=V1&amp;CLICK_CONTS_TYPE_CODE=N10006&amp;CLICK_CONTS_ID=995169">BLACKPINK</a><span class="checkEllipsisRealtimeChart" style="display: none;"><a href="javascript:melon.link.goArtistDetail('995169');" title="BLACKPINK - 페이지 이동" class="fc_mgray mlog" data="LOG_PRT_CODE=1&amp;MENU_PRT_CODE=2&amp;MENU_ID_LV1=10010101&amp;CLICK_AREA_PRT_CODE=R02&amp;ACTION_AF_CLICK=V1&amp;CLICK_CONTS_TYPE_CODE=N10006&amp;CLICK_CONTS_ID=995169">BLACKPINK</a></span></div>

														</div>
													</div>
												</div>
											</li>


											</ul>
    </div>
  </div>

</section>
</div>
