<div class="wrapper">



  <section class="main">

	<h2>New Releases</h2>

  <div class="multiple-items">

  <% @new_releases.each do |new| %>
  <%= link_to album_path(new.id) do %>
  <div class="album" href=>
    <img class="album-img" src="<%= new.images[1]["url"] %>" alt="">
      <%= new.artists.first.name %>
  </div>
  <% end %>
  <% end %>
  </div>
</section>

<section class="row">
<div class="posts-section">
  <h2>Recent Posts</h2>
  <div id="container">
  	<div class="m0"><img src="http://via.placeholder.com/220x150"></div>
  	<div><img src="http://via.placeholder.com/220x150"></div>
  	<div><img src="http://via.placeholder.com/220x150"></div>
  	<div class="clear m0"><img src="http://via.placeholder.com/220x150"></div>
    <div><img src="http://via.placeholder.com/220x150"></div>
    <div><img src="http://via.placeholder.com/220x150"></div>
  </div>

</div>

<div class="chart">
  <h2>Chart</h2>
  <div class="chart-wrapper">
    <div class="list-wrap">
      <ul>

											<li class="rank_item active">
                        <div class="rank_number nth1">
                        <p>1</p>
                      </div>


											</li>

											<li class="rank_item odd">
                        <div class="rank_number nth2">
                        <p>2</p>
                      </div>

											</li>

											<li class="rank_item">
                        <div class="rank_number nth3">
                        <p>3</p>
                      </div>


											</li>

											<li class="rank_item odd">
                        <div class="rank_number nth4">
                        <p>4</p>
                      </div>


											</li>

											<li class="rank_item">
												<div class="rank_number nth5">
												<p>5</p>




												</div>

											</li>

											<li class="rank_item odd">
												<div class="rank_number nth6">
												<p>6</p>


												</div>

											</li>

											<li class="rank_item">
												<div class="rank_number nth7">
													<p>7</p>

												</div>

											</li>

											<li class="rank_item odd">
												<div class="rank_number nth8">

                        <p>8</p>


												</div>

											</li>

											<li class="rank_item">
												<div class="rank_number nth9">
													<p>9</p>
												</div>

											</li>

											<li class="rank_item odd">
												<div class="rank_number nth10">
													<p>10</p>


												</div>

											</li>


											</ul>
    </div>
  </div>

</div>
</section>

<section class="row clear">

<h2>Recent News</h2>

<div>
<p>Hi</p>
</div>

</section>



</div>
