/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_self


 */
 // @import "bootstrap-sprockets";
 // @import "bootstrap";
 @import 'slick';
 @import "font-awesome";


// * {
//   padding: 10px;
// }

body {
  padding: 0 5%;
}

//header
.header {
      margin: 0px auto 80px auto;
}
.logo {
  float: left;
  top: 4%;
  color: #73A580;
}
fieldset {
  display: inline;
    position: relative;
    float: left;
    width: 322px !important;
    height: 40px;
margin: 36px 0 0 11px;
  }

  nav.main-menu {
    float: left;
    margin: 0 auto;

  }

.main-menu ul {
  float: left;

}

.main-menu ul li {
  list-style: none;
  display: inline-block;
}


 // show

 .wrapper {
     padding: 0 20px;
     // width: 1008px;
 }

.main {

  // width: 1008px;
  // margin: 0 auto;
}
 .popular {

 }

 .multiple-items {
   width: 40%;
 }

 img.album-img {
   width: 80%;
 }



 .album-info {
   padding-top: 5px;
   margin-bottom: 35px;

 }

 .album-info .info {
   border: 1px solid #e5e5e5;
 }

 .thumb {
   float: left;

 }

 .details {
   padding: 25px 0 33px 340px;
   margin-left: -1px;
   min-height: 314px;
 }

 img.thumnail {
   width: 282px;
   height: 282px;
 }

 .list dt {
   float: left;
width: 100px;
padding-top: 6px;
color: #888888;
font-size: 13px;
 }

 .list dd {
   padding-top: 6px;
    margin-left: 60px;
    color: #606060;
    font-size: 13px;
 }

.button_icons {
  display: inline-block;

    vertical-align: middle;
}

.row {
  width: 100%;
}

.posts-section {
  // clear: both;
  // width: 704px;
  // width: 80%;
  position: relative;
  float: left;
  // margin-top: 32px;
  height: 500px;
}


.posts-section .issue-list dl {
  position: relative;
  margin: 16px 0;
  float: left;
}

li {
  list-style: none;
}
.issue-list .m0 {
  margin-left: 0px;
}
.m0 {
  margin-left: 0 !important;
  float: none;
}
.clear{
clear:both
}

.chart {
  // width: 280px;
  // width: 20%;
  float: left;
  margin-left: 20px;
  height: 472px;
  // margin-top: 32px;
}

.chart .list-wrap {
  // width: 278px;
    // position: absolute;
    top: 28px;
    left: 0;
    border: 1px solid #dfe6e8;
    border-width: 0 1px;
}



#container {
	text-align: justify;
	}
#container > div {
float: left;
margin: 10px;
	display: inline-block;
	vertical-align: top;
  background-color: blue;


	}
#container:after {
	content: "";
	width: 100%;
	display: inline-block;
    }

//@charset "
.chart .list-wrap li {
    position: relative;
    width: 278px;
    height: 33px;
    border-bottom: 1px solid #e9edef;
    // font-size: 0;
    line-height: 0;
}

.chart .list-wrap li .rank_number {
    // overflow: hidden;
    float: left;
    width: 71px;
}
.chart .list-wrap li .rank_number .rank {
    display: inline-block;
    float: left;
    width: 34px;
    height: 13px;
    margin: 9px 0 0 5px;
    // background: url(//cdnimg.melon.co.kr/resource/image/web/main/icon_main.png) no-repeat 0 -445px;
    font-size: 0;
    line-height: 0;
    text-align: center;
    vertical-align: top;
}
.chart .list-wrap li.active {
    position: relative;
    // z-index: 10;
    height: 69px;
}
