/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_self


 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import 'slick';
 @import "font-awesome";


// * {
//   padding: 10px;
// }

body {
  padding: 0 6%;
}

//header
.header {
      margin: 0px auto 80px auto;
}
.logo {
  text-align: center;
  top: 4%;
}
 // show

 .wrapper {
     padding: 0 20px
 }

.main {

  width: 1008px;
  margin: 0 auto;
}
 .popular {

 }

 .multiple-items {
   width: 55%;
 }

 img.album-img {
   width: 80%;
 }



 .album-info {
   padding-top: 5px;
   margin-bottom: 35px;

 }

 .album-info .info {
   border: 1px solid #e5e5e5;
 }

 .thumb {
   float: left;

 }

 .details {
   padding: 25px 0 33px 300px;
   margin-left: -1px;
   min-height: 314px;
 }

 img.thumnail {
   width: 282px;
   height: 282px;
 }

 .list dt {
   float: left;
width: 100px;
padding-top: 6px;
color: #888888;
font-size: 13px;
 }

 .list dd {
   padding-top: 6px;
    margin-left: 60px;
    color: #606060;
    font-size: 13px;
 }

.button_icons {
  display: inline-block;

    vertical-align: middle;
}
