<header class="header">
  <nav class="top-nav">
  <li><h1 class="logo">Melify</h1></li>
</li><fieldset>
    <input type="text" name="" value="Search">
  </fieldset></li>
  </nav>



  <nav class="nav-container">
    <div class="one">
    <a href="#" class="logo navLinks">Chart</a>
    </div>
    <div class="two">
    <a href="#" class="navLinks">New</a>
    </div>
    <div class="three">
    <a href="#" class="navLinks">Genres</a>
    </div>
    <div class="four">
    <a href="#" class="navLinks">Melify DJ</a>
    </div>
    <div class="four">
    <a href="#" class="navLinks">Melify TV</a>
    </div>
    <div class="">
      <a href="#" class="navLinks">Star Post</a>
    </div>
    <div class="four">
    <a href="#" class="navLinks">Magazine</a>
    </div>
    <div class="four">
    <a href="#" class="navLinks">Award</a>
    </div>
    <div class="four">
    <a href="#" class="navLinks">Hi-Fi</a>
    </div>
    <div class="four">
    <a href="#" class="navLinks">More</a>
    </div>
  </nav>
  <nav class="nav-bottom">
    <ul>
    <li class="one">
    <a href="#" class="navLinks">Home</a>
  </li>
    <li class="two">
    <a href="#" class="navLinks">About Me</a>
  </li>
    <li class="logo">
    </li>
    <li class="three">
    <a href="#" class="navLinks">Portfolio</a>
  </li>
    <li class="four">
    <a href="#" class="navLinks">Contact Me</a>
  </li>
      </ul>
  </nav>


</header>
