<header class="header">
  <nav class="top-nav">

  </nav>
  <h1 class="logo">Melify</h1>
  <fieldset>
    <input type="text" name="" value="Search">
  </fieldset>
  <nav class="main-menu">
    <ul class="menu">
      <li>Chart</li>
      <li>New</li>
      <li>Genre</li>
    </ul>
  </nav>

</header>
